---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h1>Aviso</h1>
  
  <p> Irei disponibilizar as atualizações progressivamente, e convido vocês a conferirem as mesmas neste endereço.</p>

  <p>Além disso, estou em processo de customização e inserção dos formulários para o envio dos trabalhos.</p>

  <p style="color: palevioletred;"> Atenciosamente, <br>Prof André Luiz A. Sousa</p>
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Últimas Notícias   " }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    
    
  {%- endif -%}

</div>
